
{{!-- Displays page without scraped data --}}

{{!-- <div class="card">
  <h3 class="card-header">No Articles Scraped</h3>
  <div class="card-block">
    <p class="card-text">...</p>
  </div>
</div> --}}

<div class="articles-go-here">
</div>

{{!-- my js for homepage --}}
<script src="../../assets/javascript/index.js"></script>