

<div class="articles-go-here">
</div>

{{!-- my js for homepage --}}
<script src="../../assets/javascript/index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>