<!-- navbar -->
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand">Mongo Scraper</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
     <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/scraped">Saved Articles</a>
      </li>
    </ul>

  </div>
</nav>

<!-- Boostrap jumbotron -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Mongo Scraper</h1>
    <p class="lead"> <img src="./BuzzFeed.png" height="42">Edition</p>
  </div>
</div>


 <div class="articles-go-here">
</div>

{{!-- my js for saved page --}}
<script src="../../assets/javascript/saved.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>